<script type="text/javascript">
  window.initialData = <%- initialData !== undefined && initialData !== null ? JSON.stringify(initialData) : "{}"  -%>
</script>
<%- include('header') -%>
  <div id="root">
    <%- initialMarkUp %>
  </div>
  <%- include('footer') -%>
