.ContestPreview {
  margin: 1em;
  border: 1px solid #ccc; }
  .ContestPreview .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .ContestPreview .contest-name {
    padding: 0.5em; }

.contest {
  padding: 20px; }

.link {
  cursor: pointer;
  color: #0000ee; }

.home-link {
  margin-top: 1em;
  color: #0000ee; }

.blog {
  padding: 10px; }
  .blog .blog-preview, .blog .b-description .b-thumbnail, .blog .b-description .b-short-description, .blog .footer {
    float: left;
    padding: 10px; }
  .blog .blog-preview {
    width: 32.5%;
    border-radius: 2px 2px 2px;
    box-shadow: 2px 2px 2px 2px #829e95; }
    .blog .blog-preview .b-header .b-title.link {
      color: red;
      font-size: 2.4em; }
    .blog .blog-preview .b-header .b-date {
      text-align: right; }
    .blog .blog-preview .b-description .b-thumbnail {
      width: 200px;
      height: 200px;
      background-color: #111; }
    .blog .blog-preview .b-description .b-thumbnail {
      width: 37%; }
    .blog .blog-preview .b-description .b-short-description {
      width: 57%; }
